{{define "data_table"}}
<div class="spreadsheet">
    <div class="sheet-title">
        <h2>{{.Filename}} - {{.SheetName}}</h2>
    </div>

    <div class="spreadsheet-table">
        <table>
            <thead>
                <tr>
                    <th class="row-header"></th>
                    {{range $i, $_ := .Headers}}
                    <th class="column-header" data-col="{{$i}}">{{columnLabel $i}}</th>
                    {{end}}
                </tr>
            </thead>
            <tbody>
                {{range $i, $row := .Rows}}
                <tr data-row="{{$i}}">
                    <td class="row-header" data-row="{{$i}}">{{add $i 1}}</td>
                    {{range $j, $cell := $row}}
                    <td data-row="{{$i}}" data-col="{{$j}}">{{$cell}}</td>
                    {{end}}
                    {{if lt (len $row) (len $.Headers)}}
                        {{range $j := seq (len $row) (len $.Headers)}}
                        <td data-row="{{$i}}" data-col="{{$j}}"></td>
                        {{end}}
                    {{end}}
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}
